<div class="dashboard_body dash_tophead">
<div class="top-dashboard" >
  <div class="dash-top">
    <mat-card class="matcard-slunt">
      <mat-card-content>
        <img mat-card-image src="assets/myworks/philworldtour.jpg" alt="">
        <h2 class="mat-h2">PHILIPPINE WORLD TOUR</h2>

          <li>PHP, JAVASCRIPT, LARAVEL</li>
          <li>VUE JS, VUEX, JQUERY, YARN</li>
          <li>LARAVEL MIX, BOOTSTRAP-SASS</li>
          <li>MYSQL, BABEL, AXIOS</li>
          <li>CSS, HTML, LESS, BLADE</li>

      </mat-card-content>
    </mat-card>
  </div>
  <div class="dash-top">
    <mat-card class="matcard-slunt">
      <mat-card-content>
        <img mat-card-image src="assets/myworks/dashboard.jpg" alt="">
        <h2 class="mat-h2">PHILWORLD TOURS CMS</h2>
        <li>PHP, JAVASCRIPT, LARAVEL</li>
        <li>VUE JS, VUEX, JQUERY, YARN</li>
        <li>LARAVEL MIX, BOOTSTRAP-SASS</li>
        <li>MYSQL, BABEL, AXIOS</li>
        <li>CSS, HTML, LESS, BLADE</li>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="dash-top">
    <mat-card class="matcard-slunt">
      <mat-card-content>
        <img mat-card-image src="assets/myworks/nabcogroup.jpg" alt="">
        <h2 class="mat-h2">NABCO FURNITURE</h2>

        <li>PHP, JAVASCRIPT, LARAVEL</li>
        <li>GULP, BOWER, LESS</li>
        <li>JQUERY, BOOTSTRAP, BOOTBOX</li>
        <li>MYSQL, INSTAFEED, PURL</li>
        <li>CSS, HTML</li>


      </mat-card-content>
    </mat-card>
  </div>


  <div class="dash-top">
    <mat-card class="matcard-slunt">
      <mat-card-content>
        <img mat-card-image src="assets/myworks/nabcocms.jpg" alt="">
        <h2 class="mat-h2">NABCO FURNITURE CMS</h2>

        <li>PHP, JAVASCRIPT, LARAVEL</li>
        <li>GULP, BOWER, LESS</li>
        <li>JQUERY, BOOTSTRAP, BOOTBOX</li>
        <li>MYSQL, INSTAFEED, PURL</li>
        <li>CSS, HTML</li>

      </mat-card-content>
    </mat-card>
  </div>
</div>
</div>



<div class="dashboard_body">
<div class="top-dashboard" >
  <div class="dash-top">
    <mat-card class="matcard-slunt">
      <mat-card-content>
        <img mat-card-image src="assets/myworks/sunrise.jpg" alt="">
        <h2 class="mat-h2">SUNRISE RESIDENCE</h2>

        <li>PHP, JAVASCRIPT, LARAVEL</li>
        <li>VUE, VUEX, AXIOS, BABEL</li>
        <li>JQUERY, BOOTSTRAP-SASS, BOOTBOX</li>
        <li>MYSQL, LARAVEL-MIX, CROSS-ENV</li>
        <li>CSS, HTML, WEBPACK</li>

      </mat-card-content>
    </mat-card>
  </div>
  <div class="dash-top">
    <mat-card class="matcard-slunt">
      <mat-card-content>
        <img mat-card-image src="assets/myworks/sunriseresidence.jpg" alt="">
        <h2 class="mat-h2">SUNRISE WEB APPLICATION</h2>

        <li>PHP, JAVASCRIPT, LARAVEL</li>
        <li>VUE, VUEX, AXIOS, BABEL</li>
        <li>JQUERY, BOOTSTRAP-SASS, BOOTBOX</li>
        <li>MYSQL, LARAVEL-MIX, CROSS-ENV</li>
        <li>CSS, HTML, WEBPACK</li>

      </mat-card-content>
    </mat-card>
  </div>
  <div class="dash-top">
    <mat-card class="matcard-slunt">
      <mat-card-content>
        <img mat-card-image src="assets/myworks/weplay.jpg" alt="">
        <h2 class="mat-h2">WEPLAY MEDIA</h2>

        <li>PHP, JAVASCRIPT</li>
        <li>JQUERY, MYSQL</li>
        <li>HTML, AJAX</li>
        <li>BOOTSTRAP</li>
        <li>CSS</li>

      </mat-card-content>
    </mat-card>
  </div>


  <div class="dash-top">
    <mat-card class="matcard-slunt">
      <mat-card-content>
        <img mat-card-image src="assets/myworks/championshipquet.jpg" alt="">
        <h2 class="mat-h2">CHAMPIONSHIPQUEST</h2>

        <li>PHP, JAVASCRIPT, LARAVEL</li>
        <li>JQUERY, REST API</li>
        <li>HTML, MYSQL, AJAX</li>
        <li>BOOTSTRAP</li>
        <li>CSS</li>

      </mat-card-content>
    </mat-card>
  </div>

</div>
</div>
