<div class="about_body">
  <div class="about_content">
    <mat-card>
    <mat-card-content>

<mat-card class="matcard-slunt">
  <mat-card-content>
    <img mat-card-image src="assets/qatarn.jpg" alt="">
            <div mat-card-avatar class="image_about" style="background-image:url('assets/profile.jpg')"></div>
    <p>
    <strong class="mat-h2">Bryan Yabut Mesias</strong>
    <br>
    <strong>Full Stack Developer</strong>
    <br>
  <strong>  Nabco - Doha, Qatar</strong>
</p>

    <div class="proj">
      <h2 class="mat-h2">About</h2>
      <h3 class="mat-h3">Let me introduce myself.</h3>
      <p>
        Full Stack Developer, specialized in everything from front-end to back-end, have specialized knowledge in all stages of web/software development.
      </p>
      <p>
        An experienced PHP and Javascript developer with 6+ year’s relevant experience in web applications and systems development with extensive experience in different technologies like in HTML5, HTML, CSS, JQuery, REST APIs, NodeJS, AngualarJs, ExpressJS, VueJs, Laravel, MongoDB, NoSQL, MYSQL, ORACLE and various web scripting technologies.
      </p>
    </div>

    <h3 class="mat-h3">CV</h3>
    <h3 class="mat-h3">More of my credentials</h3>
    <p>Although i have 6 year's in Web Development, I feel that no matter how much i make, it was not be enough, i need something new, something to improved.</p>

<!-- WORK EXPERIENCE -->
    <h3 class="mat-h3">Work Experience</h3>
    <h3 class="mat-h3">Web Developer - Nabco, Doha Qatar</h3>
    <p>
        <li>Develop, implement and maintain object oriented backend application</li>
        <li>Modify and manage web content for end users.</li>
        <li>Code, Test and Implement.</li>
        <li>Manage programming and scripting duties.</li>
        <li>Manage documentation for usability and application solutions.</li>
        <li>Debug errors and problems within database and application.</li>
        <li>Integrate database with web content management system.</li>
    </p>

    <h3 class="mat-h3">Web Developer - STORM MI SOLUTIONS, Philippines</h3>
    <p>
    <li>	Collaborate with designers to create interfaces.</li>
    <li>	Develop projects concept and maintain optimal workflow.</li>
    <li>	Completing small and medium sized projects depend upon the functionality of the project.</li>
    <li>	Coordinate and work with team members on the web application projects.</li>
    <li>	Code, test and implement the requirements of the project.</li>
    <li>	Contribute to team discussions</li>
  </p>

  <h3 class="mat-h3">Web Developer - PhilinterLife, Philippines</h3>
  <p>
    <li>	Work with senior developer to manage, complex design projects for corporation</li>
    <li>	Developed projects concept and maintain optimal workflow</li>
    <li>	Complete detailed programming and development tasks.</li>
</p>


<!-- WORK EXPERIENCE -->

<!-- SKILLS -->
      <h2 class="mat-h2">SKILLS</h2>
      <p>I Started Coding since 2011</p>
    <div class="about_skills_body">
      <div class="about_skills">
        <mat-card class="matcard-slunt">
          <mat-card-title class="title-head">
              <h2 class="mat-h2">PHP</h2>
          </mat-card-title>
          <mat-card-content>
            <div class="skills_content">
              <h1 class="skills_icon"><img src="assets/expirenced.png" class="skills-icon"/> 90%</h1>
            </div>
          </mat-card-content>
            <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
        </mat-card>
      </div>
      <div class="about_skills">
        <mat-card class="matcard-slunt">
          <mat-card-title class="title-head">
              <h2 class="mat-h2">Javascript</h2>
          </mat-card-title>
          <mat-card-content>
      <div class="skills_content">
        <h1 class="skills_icon"><img src="assets/expirenced.png" class="skills-icon"/> 90%</h1>
      </div>
          </mat-card-content>
            <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
        </mat-card>
      </div>

      <div class="about_skills">
        <mat-card class="matcard-slunt">
          <mat-card-title class="title-head">
              <h2 class="mat-h2">HTML5</h2>
          </mat-card-title>
          <mat-card-content>
      <div class="skills_content">
        <h1 class="skills_icon"><img src="assets/expirenced.png" class="skills-icon"/> 90%</h1>
      </div>
          </mat-card-content>
            <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
        </mat-card>
      </div>

      <div class="about_skills">
        <mat-card class="matcard-slunt">
          <mat-card-title class="title-head">
              <h2 class="mat-h2">CSS3</h2>
          </mat-card-title>
          <mat-card-content>
      <div class="skills_content">
        <h1 class="skills_icon"><img src="assets/expirenced.png" class="skills-icon"/> 90%</h1>
      </div>
          </mat-card-content>
            <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
        </mat-card>
      </div>
      <div class="about_skills">
        <mat-card class="matcard-slunt">
          <mat-card-title class="title-head">
              <h2 class="mat-h2">EXPRESS JS</h2>
          </mat-card-title>
          <mat-card-content>
      <div class="skills_content">
        <h1 class="skills_icon"><img src="assets/expirenced.png" class="skills-icon"/> 90%</h1>
      </div>
          </mat-card-content>
            <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
        </mat-card>
      </div>
    </div>
<!-- SECOND COLUMNS -->
    <div class="about_skills_body">
      <div class="about_skills">
        <mat-card class="matcard-slunt">
          <mat-card-title class="title-head">
              <h2 class="mat-h2">NODEJS</h2>
          </mat-card-title>
          <mat-card-content>
            <div class="skills_content">
              <h1 class="skills_icon"><img src="assets/expirenced.png" class="skills-icon"/> 70%</h1>
            </div>
          </mat-card-content>
            <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
        </mat-card>
      </div>
      <div class="about_skills">
        <mat-card class="matcard-slunt">
          <mat-card-title class="title-head">
              <h2 class="mat-h2">ANGULAR JS 2/4</h2>
          </mat-card-title>
          <mat-card-content>
      <div class="skills_content">
        <h1 class="skills_icon"><img src="assets/expirenced.png" class="skills-icon"/> 70%</h1>
      </div>
          </mat-card-content>
            <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
        </mat-card>
      </div>

      <div class="about_skills">
        <mat-card class="matcard-slunt">
          <mat-card-title class="title-head">
              <h2 class="mat-h2">VUE JS 1/2</h2>
          </mat-card-title>
          <mat-card-content>
      <div class="skills_content">
        <h1 class="skills_icon"><img src="assets/expirenced.png" class="skills-icon"/> 75%</h1>
      </div>
          </mat-card-content>
            <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
        </mat-card>
      </div>

      <div class="about_skills">
        <mat-card class="matcard-slunt">
          <mat-card-title class="title-head">
              <h2 class="mat-h2">IONIC 2</h2>
          </mat-card-title>
          <mat-card-content>
      <div class="skills_content">
        <h1 class="skills_icon"><img src="assets/expirenced.png" class="skills-icon"/> 70%</h1>
      </div>
          </mat-card-content>
            <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
        </mat-card>
      </div>

      <div class="about_skills">
        <mat-card class="matcard-slunt">
          <mat-card-title class="title-head">
              <h2 class="mat-h2">LARAVEL</h2>
          </mat-card-title>
          <mat-card-content>
      <div class="skills_content">
        <h1 class="skills_icon"><img src="assets/expirenced.png" class="skills-icon"/> 90%</h1>
      </div>
          </mat-card-content>
            <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
        </mat-card>
      </div>
    </div>
<!-- THIRD COLUMNS -->

<div class="about_skills_body">
  <div class="about_skills">
    <mat-card class="matcard-slunt">
      <mat-card-title class="title-head">
          <h2 class="mat-h2">REST API</h2>
      </mat-card-title>
      <mat-card-content>
        <div class="skills_content">
          <h1 class="skills_icon"><img src="assets/expirenced.png" class="skills-icon"/> 80%</h1>
        </div>
      </mat-card-content>
        <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
    </mat-card>
  </div>
  <div class="about_skills">
    <mat-card class="matcard-slunt">
      <mat-card-title class="title-head">
          <h2 class="mat-h2">NOSQL</h2>
      </mat-card-title>
      <mat-card-content>
  <div class="skills_content">
    <h1 class="skills_icon"><img src="assets/expirenced.png" class="skills-icon"/> 70%</h1>
  </div>
      </mat-card-content>
        <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
    </mat-card>
  </div>

  <div class="about_skills">
    <mat-card class="matcard-slunt">
      <mat-card-title class="title-head">
          <h2 class="mat-h2">MYSQL</h2>
      </mat-card-title>
      <mat-card-content>
  <div class="skills_content">
    <h1 class="skills_icon"><img src="assets/expirenced.png" class="skills-icon"/> 75%</h1>
  </div>
      </mat-card-content>
        <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
    </mat-card>
  </div>

  <div class="about_skills">
    <mat-card class="matcard-slunt">
      <mat-card-title class="title-head">
          <h2 class="mat-h2">ORACLE</h2>
      </mat-card-title>
      <mat-card-content>
  <div class="skills_content">
    <h1 class="skills_icon"><img src="assets/expirenced.png" class="skills-icon"/> 70%</h1>
  </div>
      </mat-card-content>
        <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
    </mat-card>
  </div>

  <div class="about_skills">
    <mat-card>
      <mat-card-title class="title-head">
          <h2 class="mat-h2">Cordova</h2>
      </mat-card-title>
      <mat-card-content>
  <div class="skills_content">
    <h1 class="skills_icon"><img src="assets/expirenced.png" class="skills-icon"/> 90%</h1>
  </div>
      </mat-card-content>
        <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
    </mat-card>
  </div>
</div>



      <!-- <mat-slider [max]="100" [value]="90" disabled="true"></mat-slider>
      <h4><img src="assets/js.png" style="width:50px;height:50px;" /></h4>
      <mat-slider [max]="100" [value]="88" disabled="true"></mat-slider>
      <h4> <img src="assets/html5.png" style="width:50px;height:50px;" /></h4>
      <mat-slider [max]="100" [value]="95" disabled="true"></mat-slider>
      <h4> <img src="assets/css3.png" style="width:50px;height:50px;" /></h4>
      <mat-slider [max]="100" [value]="85" disabled="true"></mat-slider>
      <h4> <img src="assets/node.png" style="width:50px;height:50px;" /></h4>
      <mat-slider [max]="100" [value]="75" disabled="true"></mat-slider>
      <h4><img src="assets/angular.png" style="width:50px;height:50px;" /></h4>
      <mat-slider [max]="100" [value]="70" disabled="true"></mat-slider>
      <h4> <img src="assets/ionic.png" style="width:50px;height:50px;" /></h4>
      <mat-slider [max]="100" [value]="70" disabled="true"></mat-slider>
      <h4> <img src="assets/vue.png" style="width:50px;height:50px;" /></h4>
      <mat-slider [max]="100" [value]="75" disabled="true"></mat-slider>
      <h4> <img src="assets/express.png" style="width:50px;height:50px;" /></h4>
      <mat-slider [max]="100" [value]="70" disabled="true"></mat-slider> -->
  <!-- SKILLS -->

  </mat-card-content>
</mat-card>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">View More..</button>
      <button mat-raised-button color="primary">Hired Me</button>
    </mat-card-actions>
  </mat-card>
  </div>
</div>
<!-- <div class="about_skills">
  <mat-card class="matcard-slunt">
    <mat-card-content>

        <h2 class="mat-h2">SKILLS</h2>
        <p>I Started Coding and Design in 2011</p>
        <h4><img src="assets/php.png" style="width:50px;height:50px;" /></h4>
        <mat-slider [max]="100" [value]="90" disabled="true"></mat-slider>
        <h4><img src="assets/js.png" style="width:50px;height:50px;" /></h4>
        <mat-slider [max]="100" [value]="88" disabled="true"></mat-slider>
        <h4> <img src="assets/html5.png" style="width:50px;height:50px;" /></h4>
        <mat-slider [max]="100" [value]="95" disabled="true"></mat-slider>
        <h4> <img src="assets/css3.png" style="width:50px;height:50px;" /></h4>
        <mat-slider [max]="100" [value]="85" disabled="true"></mat-slider>
        <h4> <img src="assets/node.png" style="width:50px;height:50px;" /></h4>
        <mat-slider [max]="100" [value]="75" disabled="true"></mat-slider>
        <h4><img src="assets/angular.png" style="width:50px;height:50px;" /></h4>
        <mat-slider [max]="100" [value]="70" disabled="true"></mat-slider>
        <h4> <img src="assets/ionic.png" style="width:50px;height:50px;" /></h4>
        <mat-slider [max]="100" [value]="70" disabled="true"></mat-slider>
        <h4> <img src="assets/vue.png" style="width:50px;height:50px;" /></h4>
        <mat-slider [max]="100" [value]="75" disabled="true"></mat-slider>
        <h4> <img src="assets/express.png" style="width:50px;height:50px;" /></h4>
        <mat-slider [max]="100" [value]="70" disabled="true"></mat-slider>
    </mat-card-content>
  </mat-card>
</div> -->
