.sidebar-menu {
  width: 100%;
  height: 100%;
}

.sidebar-menu mat-sidenav {
  max-width: 100%;
  height: 100%;
  background-color: #808ca0;
}

.example-sidenav-fab-container .mat-sidenav-content,
.example-sidenav-fab-container mat-sidenav {
  display: flex;
  overflow: visible;
}

/*SIDEMENU ICON*/
.sidemenuopened {
  position: relative;
  padding: 1rem;
  text-align: center;
  transform: translate(-50%; -50%);
}
.sidebar-icon-menu {
  float: left;
  width: 20%;
  height: 100%;
  background-color: #9b9ba5;
}
.profile_side {
  float: right;
  width: 80%;
}

.example-header-image {
  background-image: url('http://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size:contain;
}
