<div>
<h2 mat-dialog-title>Message</h2>
<form>
  <mat-dialog-content>
    <mat-form-field>
      <input matInput placeholder="Name" name="sender" [(ngModel)] = "sender">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Subject" name="subject" [(ngModel)] = "subject">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Message" name="message" [(ngModel)] = "message"></textarea>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="sendMessage(event)">Send</button>
  </mat-dialog-actions>
</form>
</div>
