<div class="services_top">
  <div class="services_container">
    <div class="services_row">
      <div class="services_col">
        <mat-card class="matcard-slunt">
          <mat-card-title class="title-head">
              <h2 class="mat-h2">WEB DESIGN & DEVELOPMENT</h2>
          </mat-card-title>
          <mat-card-content>
        <div class="proj">
          <h1 class="proj-cont"><img src="assets/developed.png" class="top-icon"/></h1>
          <p>why you need website? yes for your marketing, online brochure, more customers thru online, business value. </p>
        </div>
          </mat-card-content>
            <mat-progress-bar mode="indeterminate" color=""></mat-progress-bar>
        </mat-card>
      </div>
      <div class="services_col">
        <mat-card class="matcard-slunt">
          <mat-card-title class="title-head">
              <h2 class="mat-h2">WEBSITE REDESIGN</h2>
          </mat-card-title>
          <mat-card-content>
        <div class="proj">
          <h1 class="proj-cont"><img src="assets/brash.png" class="top-icon"/></h1>
          <p>i can help you to enchance the original design of your website, outdate content and poor search engine ranking in google.</p>
        </div>
          </mat-card-content>
            <mat-progress-bar mode="indeterminate" color=""></mat-progress-bar>
        </mat-card>
      </div>
      <div class="services_col">
        <mat-card class="matcard-slunt">
          <mat-card-title class="title-head">
              <h2 class="mat-h2">WORDPRESS DEVELOPMENT</h2>
          </mat-card-title>
          <mat-card-content>
        <div class="proj">
          <h1 class="proj-cont"><img src="assets/wordpress.png" class="top-icon"/></h1>
           <p>i can help you to specializes in developing custom WordPress CMS Websites like Personal blog,  business or enterprise level. </p>
        </div>
          </mat-card-content>
            <mat-progress-bar mode="indeterminate" color=""></mat-progress-bar>
        </mat-card>
      </div>
      <div class="services_col">
        <mat-card class="matcard-slunt">
          <mat-card-title class="title-head">
              <h2 class="mat-h2">WEBSITE MAINTENANCE</h2>
          </mat-card-title>
          <mat-card-content>
        <div class="proj">
          <h1 class="proj-cont"><img src="assets/maintenance.png" class="top-icon"/></h1>
          <p>i can help you to update your website and make sure it is kept up to update and relevant content.</p>
        </div>
          </mat-card-content>
            <mat-progress-bar mode="indeterminate" color=""></mat-progress-bar>
        </mat-card>
      </div>
    </div>

    <div class="services_row">
      <div class="services_col">
        <mat-card class="matcard-slunt">
          <mat-card-title class="title-head">
              <h2 class="mat-h2">WEB BASED APPLICATION</h2>
          </mat-card-title>
          <mat-card-content>
        <div class="proj">
          <h1 class="proj-cont"><img src="assets/global.png" class="top-icon"/></h1>
          <p>web base application are bulit in PHP, JavaScript, MYSQL, Angular JS, NodeJS, VueJS and other modern technology</p>
        </div>
          </mat-card-content>
            <mat-progress-bar mode="indeterminate" color=""></mat-progress-bar>
        </mat-card>
      </div>

      <div class="services_col">
        <mat-card class="matcard-slunt">
          <mat-card-title class="title-head">
              <h2 class="mat-h2">SEARCH ENGINE OPTIMIZATION</h2>
          </mat-card-title>
          <mat-card-content>
        <div class="proj">
          <h1 class="proj-cont"><img src="assets/bino.png" class="top-icon"/></h1>
          <p>helps to ensure your website is accessible and to get web page high search engine ranking in google</p>
        </div>
          </mat-card-content>
            <mat-progress-bar mode="indeterminate" color=""></mat-progress-bar>
        </mat-card>
      </div>

      <div class="services_col">
        <mat-card class="matcard-slunt">
          <mat-card-title class="title-head">
              <h2 class="mat-h2">MOBILE APPLICATION</h2>
          </mat-card-title>
          <mat-card-content>
        <div class="proj">
          <h1 class="proj-cont"><img src="assets/mobile.png" class="top-icon"/></h1>
          <p>creating mobile apps for your business, accelerate product inovation, strengthen your brand name, boost your website traffic</p>
        </div>
          </mat-card-content>
            <mat-progress-bar mode="indeterminate" color=""></mat-progress-bar>
        </mat-card>
      </div>
    </div>
  </div>
</div>
